* {
  margin: 0px;
  padding: 0x;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  height: 90vh;
  -webkit-box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #FC9916;
}
.card .job-title::before {
  content: "";
  position: absolute;
  height: 45%;
  width: 2px;
  background: black;
  top: 23px;
  left: 112px;
}
.card .job-title::after {
  content: "";
  position: absolute;
  height: 45%;
  width: 2px;
  background: black;
  top: 23px;
  left: 300px;
}
.card .social::after {
  content: "";
  position: absolute;
  top: 69px;
  width: 20%;
  height: 2px;
  background: rgb(148, 146, 146);
  border-radius: 100px;
}
.card .btns .btn-1 {
  position: relative;
  overflow: hidden;
}
.card .btns .btn-1 a p {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  z-index: 1;
}
.card .btns .btn-1 a i {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  z-index: 1;
}
.card .btns .btn-1:hover a p {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}
.card .btns .btn-1:hover a {
  z-index: 1;
}
.card .btns .btn-1:hover a i {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  color: white;
}
.card .btns .btn-1::before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 100%;
  height: 0px;
  width: 0px;
  top: -10px;
  left: -20%;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.card .btns .btn-1:hover::before {
  position: absolute;
  content: "";
  background: #323FA3;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  top: 5px;
  left: 37%;
}
.card .btns .btn-2 {
  position: relative;
  overflow: hidden;
}
.card .btns .btn-2 a p {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  z-index: 1;
}
.card .btns .btn-2 a i {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  z-index: 1;
}
.card .btns .btn-2:hover a p {
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
}
.card .btns .btn-2:hover a {
  z-index: 1;
}
.card .btns .btn-2:hover a i {
  -webkit-transform: translateX(-51px);
          transform: translateX(-51px);
  color: white;
}
.card .btns .btn-2::before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 100%;
  height: 0px;
  width: 0px;
  top: -10px;
  left: -20%;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.card .btns .btn-2:hover::before {
  position: absolute;
  content: "";
  background: #323FA3;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  top: 4px;
  left: 37%;
}

.left {
  width: 20%;
  background: #FB9713;
  -webkit-box-shadow: 2px 0px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0px 50px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 70px;
  height: 100vh;
}

.right {
  width: 80%;
  margin-left: 20%;
}
.right .nav-bar ul {
  width: 700px;
  gap: 50px;
}
.right .nav-bar ul a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.right .nav-bar ul a.menu-link.active {
  position: relative;
  color: #323FA3;
}
.right .nav-bar ul a.menu-link.active:before {
  position: absolute;
  content: "";
  top: 110%;
  left: 0px;
  width: 100%;
  height: 2px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  background-color: #323FA3;
  border-radius: 10px;
}
.right .nav-bar ul a:hover {
  color: #323FA3;
}
.right .nav-bar ul a:before {
  position: absolute;
  content: "";
  top: 110%;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}
.right .nav-bar ul a:hover::before {
  position: absolute;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  background-color: #323FA3;
}
.right .banner-1 {
  background-color: #323FA3;
  margin-top: 30px;
  padding: 30px 0px;
  padding-left: 100px;
  padding-right: 40px;
  font-family: "Montserrat", sans-serif;
}
.right .banner-1 .ban-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.right .banner-1 .ban-content .intro {
  line-height: 40px;
}
.right .banner-1 .ban-content .std-pose {
  position: relative;
  top: 20px;
}
.right .banner-1 .ban-content .std-pose .pose {
  position: absolute;
  bottom: 16px;
  width: 100%;
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}
.right .banner-1 .ban-content .std-pose .yellow {
  position: absolute;
  top: 35px;
  left: 13px;
}
.right .banner-1 .ban-content .hire {
  text-align: center;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.right .banner-1 .ban-content .hire .hire-btn {
  color: white;
  background-color: #1AA528;
  padding: 13px 25px;
  border-radius: 100px;
}
.right .banner-2 {
  background-color: #1AA528;
}/*# sourceMappingURL=style.css.map */